{% extends 'base.html' %}
{% block title %}Story App Create Story{% endblock %}

{% block body %}
<a href="/user/{{ session['user_id'] }}/stories"><button>Go To Stories</button></a>
{% if not session['story_id'] %}
<div id="story-form">
  <form action="/stories/new" method="POST">
    <label for="title">Story Title:</label>
    <input type="text" name="title" id="title">

    <label for="synopsis">Story Synopsis:</label>
    <textarea name="synopsis" id="synopsis"></textarea>

    <input type="submit" id="story-submit" value="Submit!">
  </form>
</div>
{% endif %}

{% if session['story_id'] %}
    <h1 id="debug-id">Story ID: {{ story.story_id }}</h1>
    <h1 id="title">Title: {{ story.title }}</h1>
    <div id="synopsis">Synopsis: {{ story.synopsis }}</div>
    <h3>
      <a href="/stories/{{ story.story_id }}/branches/{{ session['intro_branch_id'] }}/updateid">
        <button>Intro branch ID: {{ session['intro_branch_id'] }}</button>
      </a>
    </h3>
    <h3>Previous Branch ID: {{ session['previous_branch_id'] }}</h3>
        <div id="intro-form">
            <form action="/stories/{{ story.story_id }}/branches/new" method="POST">
                {% if not session['intro_branch_id'] %}
                  {{ jin_macs.branch_form("Intro Branch") }}
                {% endif %}
                {% if session['intro_branch_id'] %}
                  <label for="description">Enter a brief description of your branch(one sentence): </label>
                  <textarea name="description" id="description"></textarea>
                  {{ jin_macs.branch_form("Branch Body") }}
                {% endif %}
                <input type="submit" id="branch-submit" value="Submit Branch">
            </form>
            <a href="/stories/{{ story.story_id }}/branches"><button id="branch-overview">View Branches</button></a>
        </div>
{% endif %}
{% endblock %}