{%- macro branch_form(body_label) -%}
        <label for="body">{{ body_label }}: </label>
        <textarea name="body" id="body"></textarea>

        <label for="prompt">Enter the prompt for the next choice(if any): </label>
        <textarea name="prompt" id="prompt" value=""></textarea>
{%- endmacro %}

{%- macro show_branches(tree_branch) -%}
    <ul>
       <li><a href="/stories/{{ session['story_id'] }}/branches/{{ tree_branch['branch_id'] }}/updateid">
                ID: {{ tree_branch['branch_id'] }} Desc:{{ tree_branch['branch_desc'] }}
            </a>
        {% for child in tree_branch['children'] %}
            {{ show_branches(child) }}
        {% endfor %}
       </li> 
    </ul>   
{%- endmacro -%}

