{% extends 'base.html' %}
{% block title %}Play Story{% endblock %}

{% block body %}
<a href="/user/{{ session['user_id'] }}/stories"><button>Go To Stories</button></a>
<h1>{{ story.title }}</h1>
<h2>By {{ user.username }}

<h3>
  Synopsis: {{ story.synopsis }}
</h3>

{% if intro %}    

    {% if user.user_id != session['user_id'] %}
        <span>
            {% if not rating %}
                <strong>Rate this Story(1-5):</strong>
            <br>
                <form action="/stories/{{ story.story_id }}/ratings/new" method="POST">
                    <input type="number" name ='rating' min="1" max="5" value="1">
            <br>
                    <input type="submit" value="Submit Rating"></input>
                </form>
            {% endif %}

            {% if rating %}
                <strong>Current Rating:</strong>
                <form action="/stories/{{ story.story_id }}/ratings/new" method="POST">
                    <input type="number" name ='rating' min="1" max="5" value="{{ rating.score }}">
            <br>
                    <input type="submit" value="Edit Rating"></input>
                </form>
            {% endif %}
        
            {% if not favorite %}
                <a href="/favorites/{{ story.story_id }}/add">
                    <button id="favorite-add">Add Favorite</button>
                </a>
            {% endif %}

            {% if favorite %}
                <a href="/favorites/{{ story.story_id }}/remove">
                    <button id="favorite-remove">Remove Favorite</button>
                </a>
            {% endif %}

            {% if bookmark %}
                <a href="/user/{{ session['user_id'] }}/stories/{{ story.story_id }}/bookmark/delete">
                    <button id="bookmark-remove">Start From Beginning</button>
                </a>
            {% endif %}

        </span>
    {% endif %}

    {% if user.user_id == session['user_id'] %}
        <span>
            <a href="/stories/{{ story.story_id }}/edit"><button>Edit Story</button></a>

            <a href="/stories/{{ story.story_id }}/branches">
                <button id="branch-overview">View Branches</button>
            </a>
        </span>
    {% endif %}

    <div id="intro-branch">
        Intro: {{ intro.body }}
    </div>

    <div>
        Prompt: {{ intro.branch_prompt }}
    </div>

    {% if bookmark %}
        <button id="ghost-button-branch-id" value="{{ bookmark.branch_id }}" style="display: none"></button>

        <div id="bookmark-div">
            {% for page in bookmarked_story %}
                <div class="branch-body">{{ page }}</div>   
            {% endfor %}
        </div>
    {%  endif %}
    
    {% if not bookmark %}
        <button id="ghost-button-branch-id" value="{{ intro.branch_id }}" style="display: none"></button>
    {% endif %}

    <div id="buttons-div" >
        {% for branch in all_branches[1:] %}
        <ul class="branch-prev" id="{{ branch.prev_branch_id }}">
            
            <li><button value="{{ branch.branch_id }}" class="branch-choice">{{ branch.description }}</a></li>
            
        </ul>
        {% endfor %}
    </div>
{% endif %}

{% if not intro %}
    <h3>Story in development... Check back soon!</h3>
{% endif %}
    <script src="/static/js/story.js"></script>
{% endblock %}