{% extends 'base.html' %}
{% block title %}Play Story{% endblock %}

{% block body %}
<div class="container-fluid row first-container play-background border-dark border-top border-bottom border-5">
    <div id="title-card" class="row" >
      <div class="col-6 offset-3 gy-3 text-center position-fixed border border-dark rounded group-title-background">
        <h1 id="title" class="text-decoration-underline">{{ story.title }}</h1>
        <h3 id="author">By {{ user.username }}</h3>
      </div>
    </div>

    <div class="row">
        <div class="col-3 position-fixed">
            {% if user.user_id == session['user_id'] %}
                <div class="dropdown-center col-4 offset-4 gy-3 text-center">
                    <button class="btn btn-secondary dropdown-toggle border-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Story Options
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="/user/{{ user.user_id }}/stories/{{ story.story_id }}">
                            Play
                        </a>
                        <a class="dropdown-item" href="/stories/{{ story.story_id }}/edit">
                        Edit Story
                        </a>
                        {% if session['intro_branch_id'] %}
                        <a class="dropdown-item" href="/stories/{{ story.story_id }}/branches">
                            Edit Branches
                        </a>
                        {% endif %} 
                        <a class="dropdown-item" href="/stories/{{ story.story_id }}/delete">
                        Delete Story
                        </a>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="col-6 offset-3 play-story border border-dark story-item-background">
            {% if intro %}  
                <div id="intro-branch" class="first-line">
                    {{ intro.body }}
                </div>
            
                <div class="first-line">
                    {{ intro.branch_prompt }}
                </div>
            
                {% if bookmark %}
                    <button id="ghost-button-branch-id" value="{{ bookmark.branch_id }}" style="display: none"></button>
            
                    <div id="bookmark-div">
                        {% for page in bookmarked_story %}
                            <div class="branch-body first-line">{{ page }}</div>   
                        {% endfor %}
                    </div>
                {%  endif %}
                
                {% if not bookmark %}
                    <button id="ghost-button-branch-id" value="{{ intro.branch_id }}" style="display: none"></button>
                {% endif %}
            
                <div id="buttons-div" >
                    {% for branch in all_branches[1:] %}
                    <ul class="branch-prev" id="{{ branch.prev_branch_id }}">
                        
                        <li><button value="{{ branch.branch_id }}" class="branch-choice">{{ branch.description }}</a></li>
                        
                    </ul>
                    {% endfor %}
                </div>
            {% endif %}
        
            {% if not intro %}
                <h3>Story in development... Check back soon!</h3>
            {% endif %}
        </div>

        <div class="col-3 offset-9 position-fixed">
            {% if user.user_id != session['user_id'] %}
                <div class="dropdown-center col-4 offset-4 gy-3 text-center">
                    <button class="btn btn-secondary dropdown-toggle border-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Story Options
                    </button>
                    <ul class="dropdown-menu">
                        {% if not rating %}
                            <form class="rating-form" action="/stories/{{ story.story_id }}/ratings/new" method="POST">
                                <label for="rating" class="form-label">Rate this Story:</label>
                                <div class="mb-3">
                                    <input type="number" class="form-control" name ='rating' min="1" max="5" value="1">
                                </div>
                                <div class="text-center gy-3">
                                    <input type="submit" value="Submit Rating"></input>
                                </div>
                            </form> 
                            <li><hr class="dropdown-divider"></li>
        
                        {% endif %}

                        {% if rating %}
                            <form class="rating-form" action="/stories/{{ story.story_id }}/ratings/new" method="POST">
                                <label for="rating" class="form-label">Current Rating:</label>
                                <div class="mb-3">
                                    <input type="number" class="form-control" name ='rating' min="1" max="5" value="{{ rating.score }}">
                                </div>
                                <div class="text-center gy-3">
                                    <input type="submit" value="Edit Rating"></input>
                                </div>
                            </form>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}

                        {% if not favorite %}
                            <a class="dropdown-item" id="favorite-add" href="/favorites/{{ story.story_id }}/add">
                                Add Favorite
                            </a>
                        {% endif %}
            
                        {% if favorite %}
                            <a class="dropdown-item" id="favorite-remove" href="/favorites/{{ story.story_id }}/remove">
                                Remove Favorite
                            </a>
                        {% endif %}

                        {% if bookmark %}
                            <a class="dropdown-item" id="bookmark-remove" href="/user/{{ session['user_id'] }}/stories/{{ story.story_id }}/bookmark/delete">
                                Start From Beginning
                            </a>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    
</div>
    
    <script src="/static/js/story.js"></script>
{% endblock %}