{% extends 'base.html' %}
{% block title %}Story App Search{% endblock %}

{% block body %}
    <h2>Search</h2>

    <label for="search-for">Search for User or Story</label>
    <input type="radio" name="search-for" id="user-radio" value="user">
    <label for="user-radio">User</label>
    <input type="radio" name="search-for" id="story-radio" value="story">
    <label for="story-radio">Story</label>

    <label for="search-text"></label>
    <input type="text" id="search-text" name="search-text" required="required" minlength="1">
    <button id="search-submit">Search!</button>

    <div id="results-container">
    </div>
    <script src="/static/js/search.js"></script>
{% endblock %}