{% extends 'base.html' %}
{% block title %}Story App User Profile{% endblock %}

{% block body %}
<h1>{{ user.username }}</h1>
<h2>{{ user.email }}</h2>

{% if session['user_id'] == user.user_id %}
    <div id="bookmarked-stories">
        <h3>Pickup Where You Left Off</h3>
        {% for bookmarked_story in user.bookmarks %}
            {% if not bookmarked_story.is_fin %}
            <li>
                <a href="/user/{{ bookmarked_story.story.user_id }}/stories/{{ bookmarked_story.story_id }}">
                    {{ bookmarked_story.story.title }}
                </a>
            </li>
            {%  endif %}
        {% endfor %}
    </div>

    <div id="playthroughs">
        <h3>Completed Playthroughs</h3>
        {% for bookmarked_story in user.bookmarks %}
            {% if bookmarked_story.is_fin %}
            <li>
                <a href="/user/{{ bookmarked_story.story.user_id }}/stories/{{ bookmarked_story.story_id }}">
                    {{ bookmarked_story.story.title }}
                </a>
            </li>
            {%  endif %}
        {% endfor %}
    </div>
{% endif %}

<div id="user-favorites">
    <h3>
        Favorite Stories
    </h3>

    {% for favorite in user.favorites %}
        <li>
            <a href="/user/{{ favorite.story.user_id }}/stories/{{ favorite.story_id }}">
                {{ favorite.story.title }} || {{ user.username }}'s Score: {{ favorite.get_rating_score() }} || Average Score = {{ favorite.story.get_average_rating() }}
            </a>
        </li>
    {% endfor %}
</div>

<div id="user-stories">
    <h3>
        Stories
    </h3>

    {% for story in user.stories %}
    <li>
        <a href="/user/{{ user.user_id }}/stories/{{ story.story_id }}">
            <button id="{{ story.story_id }}">
                {{ story.title }}
            </button>
        </a>
        <div>Rating: {{ story.get_average_rating() }}</div>
    </li>
    {% endfor %}
</div>

{% endblock %}